*{
    font-family: Ubuntu,sans-serif;
}
html,body{
    margin: 0;
    padding: 0;
}
h1{
    position: relative;
}
.typewriter h1 {
    overflow: hidden; /* Ensures the content is hidden until animation */
    border-right: .15em solid orange; /* Creates the typewriter cursor effect */
    white-space: nowrap; /* Keeps the content on a single line */
    margin: 0 auto; /* Centers the container */
    letter-spacing: .15em; /* Adjusts the spacing between letters */
    animation:
            typing 3.5s steps(40, end),
            blink-caret .75s step-end infinite; /* Animation timing and keyframes */
}
.typewriter p {
    overflow: hidden; /* Ensures the content is hidden until animation */
    border-right: .15em solid orange; /* Creates the typewriter cursor effect */
    white-space: nowrap; /* Keeps the content on a single line */
    margin: 0 auto; /* Centers the container */
    letter-spacing: .15em; /* Adjusts the spacing between letters */
    animation:
            typing 3.5s steps(40, end),
            blink-caret .75s step-end infinite; /* Animation timing and keyframes */
}
/* Typing Animation */
@keyframes typing {
    from { width: 0 }
    to { width: 100% }
}

/* Blinking cursor */
@keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: orange; }
}
body{
    display: grid;
    width: 100%;
    height: 100vh;
    place-content: center;
    place-items: center;
}
.text-center{
    text-align: center;
}